# Create API credentials at https://connect.roestcoffee.com/settings/api
CLIENT_ID=<id>
CLIENT_SECRET=<secret>

API_HOST=https://api.roestcoffee.com
MQTT_HOST=coap.roestcoffee.com
MQTT_PORT=8883
CONNECT_HOST=https://connect.roestcoffee.com
